img{width: 100%; display: block;}
*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
:root{
    --primarycolor: rgb(205, 10, 169);
}
/**/
.title{text-align: center; color:var(--primarycolor);}
.footer{background-color: rgb(1, 1, 80); color: aliceblue; padding: 1rem 2rem; text-align: center;}
.maincontainer{width: 70%; margin: 3rem auto; padding: 1rem; border: solid 1px lightgray;}
.separators{border-bottom: 1px ridge lightgrey; margin-bottom: 1rem; }

/*index.html*/
.subtitle{text-align: center; color: darkblue;}
form{width: 50%; margin: auto;}
input{width: 100%; display: block;
    margin-bottom: 1rem; padding: 0.5rem 1rem;
}
textarea{width: 100%; display:block; padding: 0.5rem 1rem;}
button{width: 100%; margin: auto; display: block; margin-top: 1rem;
border: none; padding: 1rem; border-radius: 5px; background-color: darkblue; color: whitesmoke;
}
button:hover{
    background-color: crimson;
    cursor: pointer;
    font-weight: bolder;
}